.header{
    font-size: 38px;
    margin-top:24px;
    text-align: center;
    position: relative;
    align-items: center;
    color:black
}
.middle{
    width:750px;
    margin:0 auto;
    position: relative;
    font-weight: bold;
}
.header_left{
    /* display: flex; */
    vertical-align:middle;
    position: absolute;
    top:106px;
    left:0;
    letter-spacing:5px;
}
.header_middle{
    /* display: flex; */
    vertical-align:middle;
    position: absolute;
    left:190px;
}
.header_right{
    /* display: flex; */
    vertical-align:middle;
    position: absolute;
    top:106px;
    right:0;
    letter-spacing:5px;
}
.nav{
    width:418px;
    margin:0 auto;
    position: relative;
}
.navBox{
    margin: 0 auto;
    position: absolute;
    top:270px;
    /* right:0; */
    /* letter-spacing:5px; */
    font-size: 18px;
    text-align: center;
    /* letter-spacing:20px; */
}
.navEle{
    letter-spacing:12px;
    margin-right: -12px;
}
.navEle:hover{
     color:#68747e;
}
.dot{
    margin:0 25px;
}
.main{
    padding-top: 350px;
}